:root{
	--font: 'Zilla Slab', serif;
	--lilas:#9A86A4;
	--lilas-claro:#B1BCE6;
	--verde-agua:#B7E5DD;
	--areia:#F1F0C0;
	--azul-claro:#9CB4CC;
	--azul:#748DA6;
	--font-size: 18px;

}

body{
	font-family: var(--font);
	font-size: var(--font-size);
}

header{

	background: linear-gradient(#9CB4CC , #748DA6);
	
}

.caixa{
	position: relative;
	width: 60vw;
	margin: 0 auto;
	
}

.logo{
width: 15vw;
position: relative;
top: 1rem;




}
nav { 

text-align: right;



 }

nav li{

position: relative;
bottom: 2rem;
display: inline-block;
margin-right: .7rem;
margin-bottom: 1.5rem;
margin-left: .7rem;

}

nav a{

	text-transform: uppercase;
	color: var(--verde-agua);
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
}

nav a:hover{

	color: var(--areia);
	text-decoration: underline;
}

.banner{
	width: 99vw;

}

.titulo-principal{
	text-align: center;
	font-size: 2rem;
	margin: 0 0 2rem;
	clear: left;

}

.principal{
	padding: 3rem 0; 
	background: #FEFEFE;
	width: 60vw;
 	margin: 0 auto;
}

.principal p{
	margin: 0 0 1rem;
}

.principal strong{

font-weight: bold;
}

footer{ 
	text-align: center;
	background:linear-gradient(#9CB4CC , #748DA6);
	padding: 2rem 0; 

 }

 .logo1{
 	width: 10%;

 }

 .copyright{

 	color: #FFFFFF;
 	font-size: 13px;
 	margin-top: 20px;
 }

 .lista:before{
	content: "✭";
}

.lista{

	text-align: center;
	font-weight: bold;
}

form{

 	margin: 40px 0;
 }

 form label, form legend {

 	display: block;
 	font-size: 20px;
 	margin: 0 0 10px;

 }

 .link{

 	color: var(--azul);
	font-weight: bold;
	text-decoration: none;
 }

.link:hover{

	color: var(--lilas);
	text-decoration: underline;
}

.checklist{
	color: var(--azul);
	font-weight: bold;
	text-decoration: none;
}

.checklist:hover{
	color: var(--lilas);
	text-decoration: underline;

}

.clientes{
	width: 100vw;
	margin: 0 auto;
	

}

.clientes li{

display: inline-block;
width: 30vw;
vertical-align: top;
margin: 0 0 1rem;
padding: 30px ;



}